.hero {
  background-image: url('https://i.postimg.cc/tRZByPqc/photo-1603366615917-1fa6dad5c4fa.avif');
  background-size: cover;
  /* background-position: center; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* new subname */

/* #subname{
  margin-top: 170px;
  margin-right: 950px;
} */

.hero-content {
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 10px;
}

.hero-title {
  font-size: 5rem;
  font-weight:700;
  margin-right: 400px;
  margin-top: 70px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-right: 330px;
  margin-top: 40px;
}

/* dont delete this css */

/* .hero-subname {
  margin-bottom: 50px;
  margin-right: 900px;
  letter-spacing: 7px;
  color: orangered;
  font-weight: bold;
} */


.button {
  margin-right: 800px;
  letter-spacing: 3px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Responsive design */

@media (max-width: 1200px) {
  .hero-title {
    font-size: 4rem;
    margin-right: 300px;
  }
  .hero-subtitle {
    font-size: 1.3rem;
    margin-right: 250px;
  }
  .hero-name {
    font-size: 1.8rem;
    margin-right: 900px;
  }
  .hero-subname {
    font-size: 1.2rem;
    margin-right: 700px;
  }
  .button {
    margin-right: 500px;
  }
}

@media (max-width: 830px) {
  .hero-title {
    font-size: 2.5rem;
    margin-right: 50px;
    margin-top: 180px;
  }
  .hero-subtitle {
    font-size: 0.8rem;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
  }
  .hero-name {
    font-size: 1rem;
    margin-right: 600px;
    margin-bottom: 80px;
    padding: 5px;
  }
  .button {
    margin-right: 60px;
    margin-top: 50px;
    letter-spacing: 0px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .hero {
    font-size: 14px;
    padding: 10px;
  }
  .hero-title {
    font-size: 2rem;
    margin-right: 0;
    margin-top: 0;
    padding: 10px;
  }
  .hero-subtitle {
    font-size: 1rem;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 40px;
  }
  .hero-name {
    font-size: 1rem;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .hero-subname {
    font-size: 1rem;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 5px;
  }
  .button {
    margin-right: 0;
    padding: 5px;
    margin-bottom: 70px;
  }
}

/* Base CSS for "LET'S TALK" */
.link {
  font-size: 1.1rem;
  position: absolute;
  right: 200px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 40px;
}

